@* model used in view: *@
@model IEnumerable<Post>

@* Meta tags: *@
@{
    ViewBag.Title = "Blog website";
    ViewBag.Description = "Blog website about everything";
    ViewBag.Keywords = "blog website programming photography";
}


<div class="main-img">
    <span class="title">Amazing blog site</span>
</div>

<div class="container">
    @foreach (var post in Model)
    {
        var image_path = $"/Image/{post.Image}";

        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path" />
            <span class="title">@post.Title</span>
        </a>
    }
</div>